.padding-atas {
  height: 200px;
  background: #f1f3ff;
  padding-top: 100px;
}
.car-detail {
  padding-top: 100px;
  padding-bottom: 100px;
}

.car-detail-border {
  width: 85%;
  margin: auto;
}

.package-desc h3 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  padding: 10px 0 10px 20px;
}

.package-desc ul {
  list-style: disc;
}

.package-desc li {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 175%;
  color: #8a8a8a;
  padding-bottom: 10px;
  margin-left: 30px;
}

.package-desc .card {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.card-detail .card {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.card-img {
  height: 350px;
  object-fit: cover;
  padding: 50px 25px;
}

.card-detail .card-body {
  padding: 15px 25px;
}

.card-detail .card-body h5 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  padding: 4px 0 5px;
  margin: 0;
}

.card-detail .card-body .category {
  display: flex;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  color: #8a8a8a;
}

.card-detail .card-body .category p {
  padding-left: 10px;
}

.price {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.price h4 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  padding: 4px 0;
}

.Button {
  padding-left: 150px;
}
.Button img {
  width: 30px;
}
